<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuyang.spring_boot.springbootmybatis.mapper.PasswordMapper">
    <resultMap id="BaseResultMap" type="com.liuyang.spring_boot.springbootmybatis.model.Password">
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="base_column_list">
        url, name, password, note
    </sql>
    <select id="selectByUrl" resultMap="BaseResultMap" >
        select
        <include refid="base_column_list"/>
        from password
        where url=#{url}
    </select>
</mapper>